

body{
	background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

h1{
	text-align: center;
	color: DarkMagenta ;
	font-family: Diplomata SC ;
}

p{
	text-align: center;
}
span{
	font-size: 22px;
	font-variant: small-caps;
	color: #F08080;
	background-color: #ADFF2F ;
}