

body{
	background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
	background: -moz-linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
	background: -webkit-linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
	background: -o-linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}


figure{
	border: outset 5px;
    box-sizing: border-box;
    width: 1025px;
    margin:auto;
    border-color: #84BCF0;
    align-content: center;
}

.redes {
	width:30%;
	margin-right:3%;
	margin-top:1%;
	margin-left:18%;
	display:inline-block;
	float: left;
}

.suscripciones{
	width: 30%;
    margin-left: 32%;
}

.button1{
	border: 3px outset #DFE2E5;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    display: inline-block;
    margin: 0;
    padding: 10px 30px;
}

header{
	box-sizing: border-box;
    border: outset 5px;
    width: fit-content;
    margin: auto;
    border-color: #84BCF0;
}

h1{
	text-align: center;
	color: DarkMagenta ;
	font-family: Diplomata SC ;

}

p{
	text-align: center;
}
span{
	font-size: 22px;
	font-variant: small-caps;
	color: #F08080;
	background-color: #ADFF2F ;

}
